Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
*~
depcomp
install-sh
ltmain.sh
missing
*.in
Makefile
config.log
config.status
libtool
.deps
.dirstamp
config.h
*.o
stamp-h1
bt-listener
bt-connecter
